﻿@using HotelContracts.ViewModels;
@using HotelDataModels.Models;

@{
	ViewData["Title"] = "AddMemberToConference";
}

@model Tuple<List<ConferenceViewModel>, List<MemberViewModel>>

<form method="post">
	<div class="u-form-group u-form-name u-label-top">
		<label class="u-label u-text-custom-color-1 u-label-1">Конференции: </label>
		<div class="u-input u-input-rectangle">
			<select id="conference" name="conference" class="form-control">
				@foreach (var conference in Model.Item1)
				{
									<option value="@conference.Id">
						@Html.DisplayFor(modelItem => conference.ConferenceName)
							</option>
				}
			</select>
		</div>
	</div>
	<label class="u-label u-text-custom-color-1 u-label-1">Участники: </label>
	<div class="u-container-style u-layout-cell u-size-48 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-table u-table-responsive u-table-1">
                    <table class="u-table-entity">
                      <colgroup>
                        <col width="9.8%" />
                        <col width="62.9%" />
                        <col width="27.3%" />
                      </colgroup>
                      <thead
                        class="u-custom-color-1 u-table-header u-table-header-1">
                        <tr style="height: 31px">
                            <th class="u-border-1 u-border-grey-50 u-table-cell">

                          </th>
                          <th class="u-border-1 u-border-grey-50 u-table-cell">
                            ФИО участника
                          </th>
                          <th class="u-border-1 u-border-grey-50 u-table-cell">
                            Гражданство
                          </th>
                        </tr>
                      </thead>
                        <tbody class="u-table-body">
                            @foreach (var item in Model.Item2)
                            {
                                <tr style="height: 75px">
                                  <td
                            class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                        <input type="checkbox" class="form-check-input" name="member[]" value="@item.Id" id="@item.Id">
                                  </td>
                                  <td
                            class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                          >
                                        @Html.DisplayFor(modelItem => item.MemberFIO)
                                  </td>
                                  <td
                            class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                          >
                                        @Html.DisplayFor(modelItem => item.Citizenship)
                                  </td>
                                </tr>
                            }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
	<div class="u-align-right u-form-group u-form-submit u-label-top">
		<div class="col-8"></div>
		<div class="col-4"><input type="submit" value="Добавить участников" class="u-active-custom-color-6 u-border-none u-btn u-btn-submit u-button-style u-custom-color-1 u-hover-custom-color-2 u-btn-1" /></div>
	</div>
</form>